extends base.pug

block bodyContent
  h1= title
  h3 Controller can be used to take remote snapshots
  h2.output
  img.new-snap-container
  button.snap-btn Take Snap Shot
  .images
    
block scriptsContent
  script(type="application/javascript", src="https://cdn.rawgit.com/naptha/tesseract.js/1.0.10/dist/tesseract.js")
  script.
    let firebaseInstance = "#{firebase}"
    let socket = io.connect()  
    let snapButton = document.querySelector('.snap-btn')
    let newSnapContainer = document.querySelector('.new-snap-container')
    
    const recognizeMainNumber = (canvas) => {
      let outputContainer = document.querySelector('.output')
      let outputText = ''
      Tesseract.recognize(newSnapContainer)
        .then(re => {
          outputText = re.text
          outputContainer.innerHTML = outputText
        })
      
    }

    snapButton.onclick = () => {
      console.log('take a remote snap!')
      socket.emit('take a new snap')
    }
    socket.on('new image', (message) => {
      let image = document.querySelector('.new-snap-container')
      image.classList.add('filtered')
      image.src = message
      let canvas = document.createElement('canvas')
      canvas.width = image.width
      canvas.height = image.height
      canvas.getContext('2d').filter = 'invert() grayscale(100%) brightness(2) contrast(1.2)'
      canvas.getContext('2d').drawImage(image, 0, 0)
      recognizeMainNumber(canvas)
    })
