extends base.pug

block bodyContent
  h1= title
  h3 Controller can be used to take remote snapshots
  canvas.new-snap-container
  button.snap-btn Take Snap Shot
  .images
    
block scriptsContent
  script(type="application/javascript", src="http://cdn.rawgit.com/naptha/tesseract.js/1.0.10/dist/tesseract.js")
  script.
    let firebaseInstance = "#{firebase}"
    let socket = io.connect()  
    let snapButton = document.querySelector('.snap-btn')
    let newSnapContainer = document.querySelector('.new-snap-container')
    
    const recognizeMainNumber = (source, original) => {
      let mainNumber = document.createElement('canvas')
      let mainNumberCtx = mainNumber.getContext('2d')
      mainNumber.width = original.width
      mainNumber.height = original.height
      mainNumberCtx.drawImage(source, 70, 210, 260, 124, 21, 20, 220, 104)
      Tesseract.recognize(mainNumber)
        .then(re => console.log(re.text))
    }

    snapButton.onclick = () => {
      console.log('take a remote snap!')
      socket.emit('take a new snap')
    }
    socket.on('new image', (message) => {
      let image = new Image()
      image.classList.add('filtered')
      image.src = message
      newSnapContainer.width = image.width
      newSnapContainer.height = image.height
      newSnapContainer.getContext('2d').filter = 'invert() grayscale(100%) brightness(2) contrast(1.2)'
      newSnapContainer.getContext('2d').drawImage(image, 0, 0)
    })
