extends base.pug

block bodyContent
  h1= title
  h3 Controller can be used to take remote snapshots
  image.new-snap-container
  button.snap-btn Take Snap Shot
    
block scriptsContent
  script.
    let firebaseInstance = "#{firebase}"
    let socket = io.connect()  
    let snapButton = document.querySelector('.snap-btn')
    let newSnapContainer = document.querySelector('.new-snap-container')
    let loading = true
    snapButton.onclick = () => {
      console.log('take a remote snap!')
      socket.emit('take a new snap')
      socket.on('new snap', (imageURL) => {
        console.log('from controller: i have received a new snap!', imageURL)
        newSnapContainer.src = imageURL
        loading = false
      })
    }
